<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <title>Digital Science</title>
    <link rel="shortcut icon" href="/images/science.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <!-- 
        nav
          - home
          - heroes -> Todos los heroes
            - details
            - bio 
          - credits
      -->
      <p>
        Bienvenido, aquí encontrarás algunos de los científicos y matemáticos
        destacados en el mundo de la ciencia y de la programación. Espero te
        sorprendas
      </p>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
