<footer>
  <p>Omar Ramírez Hernandez</p>
  <menu>
    <li>
      <a
        href="https://linkedin.com/in/omar-ram-hdz"
        class="social linkedin"
      ></a>
    </li>
    <li>
      <a href="https://github.com/omar-ram-hdz" class="social github"></a>
    </li>
    <li>
      <a href="https://behance.net/omar-ram-hdz" class="social behance"></a>
    </li>
  </menu>
</footer>
