<header>
  <div class="logotipo">
    <img src="/images/science.svg" alt="Science" width="45" height="45" />
    <h1>Digital Science</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/heroes">Heroes</a>
      </li>
      <li>
        <a href="/credits">Credits</a>
      </li>
    </ul>
  </nav>
</header>
