* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}
body {
  font: 20px Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
main {
  padding: 10vh 5%;
}
.bands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card-band {
  padding: 10px;
  background-color: #3c3c3c;
  color: aliceblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  & img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
  }
}
ol {
  padding-left: 4ch;
}
.band-cover {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
